page-user-profile {

    #image {
        background-color: #d83105;
        width: 100%;
        height: 50%;
    }

    #profileImage {
        margin-left: 25%;
    }

    #content {
        margin-top: 5%;
        width: 100%;
        height: 50%;
    }

}
