.background {
    background-image: url('../img/background.png');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.button-outline-ios.activated {
    color: black;
    background: white;
    border-color: black;
}

.button-outline-md.activated {
    color: black;
    background: white;
    border-color: black;
}

.btnBtn {
    //width: 82%;
    // border-color: white;
    color: white;
    background: black;
    height: 37px;
}

#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-image: url('../img/background.png');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.flb {
    background-image: url('../img/background.png');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

#custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}