.alert-ios .alert-button.activated {
    color: black;
    //  background: white;  
}

.alert-ios .alert-button {
    border-color: white;
    color: white;
    background: black;
    border-radius: 37px;
    height: 38px;
    margin-top: -4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
}